footer
    background #E5E5E5
    .center
        padding 25px 0
        display flex
        +mobile()
            display block
        .links
            margin-right 55px
            +below($tablet)
                display none
            a
                display block
                padding-left 28px
                ptsans 14
                position relative
                + a
                    margin-top 8px
                &:before
                    content ''
                    position absolute
                    left 0
                    bottom 0
                    width 20px
                    height 2px
                    background $amarelo
                    transition all .3s
                &:hover
                    &:before
                        height 100%
        .hdardis
            margin-left auto
            img
                width 130px
                display block
            p.endereco
                ptsans 14
                margin 1em 0 0
            +tablet()
                margin-left 0
                margin-right auto
        .informacoes
            margin-left 55px
            +mobile()
                margin 20px 0 0
            p.telefones
                ptsans 18 bold
                margin 0 0 1em
            .social
                font-size 0
                a
                    display inline-block
                    width 16px
                    height 16px
                    text-indent -9999px
                    &.facebook
                        background $img('ico-facebook.png') no-repeat center
                    &.instagram
                        background $img('ico-instagram.png') no-repeat center
                    &.linkedin
                        background $img('ico-linkedin.png') no-repeat center
                    + a
                        margin-left 5px
    .copyright
        background #D9D9D9
        padding 8px 0
        p
            ptsans 10
            margin 0
            text-align center
            a:hover
                text-decoration underline
            +mobile()
                span
                    font-size 0
                    display block
