header
    width 100%
    height 167px
    background rgba(#fff, .85)
    position relative
    z-index 105
    +below($tablet)
        height 134px
    > .center
        height 144px
        position relative
        +below($tablet)
            height 110px
    .logo
        position absolute
        width 243px
        height 139px
        background $img('marca-hdardis.png') no-repeat center
        left 0
        bottom -23px
        text-indent -9999px
        +below($tablet)
            width 190px
            height 108px
            background-size 100% auto
            bottom -18px
    nav
        height 100%
        display flex
        justify-content flex-end
        a
            height 100%
            display flex
            align-items center
            ptsans 18
            text-align center
            padding 0 20px
            text-transform uppercase
            transition background .3s
            &:hover
            &.active
                background rgba(darken($amarelo, 11), .7)
        +below($tablet)
            display none
    #mobile-toggle
        display block
        background-color transparent
        border 0
        position relative
        height 100%
        float right
        width 28px
        outline 0
        padding 0
        cursor pointer
        margin-left auto
        +above($tablet)
            display none
        .lines
            display block
            width 100%
            height 4px
            background #000
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background #000
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    .social
        width 100%
        height 24px
        background $amarelo
        text-align right
        .center
            font-size 0
            padding-top 4px
            padding-right 20px
            +below($tablet)
                padding-right 0
            a
                display inline-block
                width 16px
                height 16px
                text-indent -9999px
                &.facebook
                    background $img('ico-facebook.png') no-repeat center
                &.instagram
                    background $img('ico-instagram.png') no-repeat center
                &.linkedin
                    background $img('ico-linkedin.png') no-repeat center
                + a
                    margin-left 5px

#nav-mobile
    display none
    +above($tablet)
        display none !important
    position absolute
    width 100%
    padding 30px 0
    text-align right
    left 0
    top 134px
    background $amarelo
    z-index 110
    a
        display block
        ptsans 17
        text-transform uppercase
        + a
            margin-top 6px
        &.active
            font-weight bold
        br
            display none

.header-bg
    width 100%
    height 144px
    background-size cover
    background-position center top
    position absolute
    left 0
    top 0
    z-index -1
    +below($tablet)
        display none
