.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.main
    padding 40px 0 75px
    +tablet()
        padding 30px 0 55px
    +mobile()
        padding 25px 0 35px
