.clientes-thumbs
    background #F4F4F4
    padding 10px 10px 0
    clearfix()
    .cliente
        padding 25px
        background #fff
        float left
        width calc('20% - 8px')
        margin-right 10px
        margin-bottom 10px
        &:nth-child(5n)
            margin-right 0
        img
            display block
            max-width 100%
            margin 0 auto
        +tablet()
            width calc('25% - 7.5px')
            &:nth-child(5n)
                margin-right 10px
            &:nth-child(4n)
                margin-right 0
        +mobile()
            width calc('50% - 5px')
            &:nth-child(5n)
                margin-right 10px
            &:nth-child(2n)
                margin-right 0
