.contato
    .center
        clearfix()
    .informacoes
        width 27.5%
        float left
        .telefones
            ptsans 22 bold
            margin-top 0
        .endereco
            ptsans 16
            margin 0
        +mobile()
            width 100%
            margin-bottom 30px
            .telefones
                font-size 18px
            .endereco
                font-size 15px
    form
        width 68.75%
        float right
        clearfix()
        h3
            ptsans 22 bold
            color $amarelo
            width 100%
            float left
            margin 0 0 12px
        .group
            float left
            width calc('50% - 25px')
        textarea
            float left
            width calc('50% - 25px')
            margin 0 5px
        input
        textarea
            display block
            background #EFEFF0
            border 0
            outline 0
            ptsans 16
            font-style italic
        input
            width 100%
            padding 0 10px
            height 30px
            + input
                margin-top 5px
        textarea
            resize none
            height 100px
            padding 5px 10px
        button
            background $img('seta-enviar.png') no-repeat center $amarelo
            width 40px
            height 100px
            border 0
            outline 0
            cursor pointer
            transition background .3s
            &:hover
                background-color #000
        .flash
            width 100%
            float left
            border 2px solid $amarelo
            padding 10px
            ptsans 13
            letter-spacing 1px
            text-transform uppercase
            text-align center
            margin-top 10px
            &.flash-erro
                border-color #da2626
        +mobile()
            width 100%
            h3
                font-size 20px
            .group
                width 100%
                margin-bottom 5px
            textarea
                width 100%
                margin 0
            button
                width 100%
                height 40px
                margin-top 5px
            input
            textarea
                font-size 15px
            .flash
                font-size 12px
    .mapa
        width 100%
        height 600px
        margin-top 45px
        +tablet()
            height 450px
            margin-top 35px
        +mobile()
            height 250px
            margin-top 30px
        iframe
            display block
            width 100%
            height 100%
