.equipamentos
    nav
        clearfix()
        a
            display block
            float left
            width 25%
            border-right 2px solid #fff
            border-bottom 2px solid #fff
            position relative
            +mobile()
                width 50%
            img
                width 100%
                display block
            span
                position absolute
                display block
                width 100%
                left 0
                bottom 0
                background rgba($amarelo, .8)
                text-align center
                montserrat 16 bold
                color #fff
                padding 16px 12px
                transition background .3s
                +tablet()
                    font-size 15px
                    padding 12px 10px
                +mobile()
                    font-size 15px
                    padding 12px 10px
                &.active
                    background none !important
            .overlay
                background rgba($amarelo, .8)
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                transition opacity .3s
                z-index 2
            &:hover
                span
                    background $amarelo
                .overlay
                    opacity 0
    .equipamento
        max-width 630px
        margin 60px auto 0
        *:last-child
            margin-bottom 0
        h2
            montserrat 22 bold
            text-align center
            margin 0 0 1em
            color $amarelo
            text-transform uppercase
        p
            ptsans 16
            text-align center
        ul
            padding 0
            list-style-type none
            text-align left
            li
                ptsans 16
                position relative
                padding-left 1em
                line-height 1.5
                &:before
                    content '\00b7'
                    position absolute
                    left 0
                + li
                    margin-top .6em
        &.selecionado p
                text-align left
        +tablet()
            margin-top 40px
        +mobile()
            margin-top 30px
            h2
                font-size 20px
            p
                font-size 15px
            ul li
                font-size 15px
