.galeria
    .center
        clearfix()
        margin-bottom -20px
    a
        width calc('33.333% - 13.333px')
        margin-right 20px
        margin-bottom 20px
        display block
        float left
        position relative
        &:nth-child(3n)
            margin-right 0
        +mobile()
            width calc('50% - 10px')
            &:nth-child(3n)
                margin-right 20px
            &:nth-child(2n)
                margin-right 0
        img
            width 100%
            display block
        &:after
            content ''
            position absolute
            width 100%
            height 100%
            left 0
            top 0
            background rgba($amarelo, .75)
            opacity 0
            transition opacity .3s
        &:hover:after
            opacity 1

.fancybox-title
    ptsans 15
