.banners
    width 100%
    height 662px
    position relative
    margin-top -167px
    +below($tablet)
        margin-top 0
    +tablet()
        height 450px
    +mobile()
        height 300px
    .banner
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        background-size cover
        background-position center top
        .center
            height 100%
            .texto
                width 100%
                height 495px
                position absolute
                left 0
                bottom 0
                display flex
                align-items center
                justify-content center
                +below($tablet)
                    height 100%
                span
                    montserrat 84 bold
                    line-height .9
                    color transparent
                    -webkit-text-stroke 1px #fff
                    @media screen and (-webkit-min-device-pixel-ratio:0)
                        span
                            color #fff
                    strong
                        font-size 113px
                    +tablet()
                        font-size 54px
                        strong
                            font-size 72px
                    +mobile()
                        font-size 28px
                        strong
                            font-size 40px
    .cycle-pager
        position absolute
        width 100%
        height 13px
        bottom 16px
        left 0
        font-size 0
        z-index 102
        text-align center
        a
            display inline-block
            width 10px
            height 10px
            margin 0 4px
            border 1px solid #fff
            border-radius 100%
            transition background .3s
            &.cycle-pager-active
                background #fff

.servicos-home
    margin 20px 0 70px
    .center
        text-align center
        font-size 0
    a
        width 25%
        display inline-block
        padding 0 30px
        vertical-align top
        margin-top 50px
        img
            display block
            margin 0 auto 24px
            border-radius 100%
            transition all .3s
            max-width 100%
        span
            montserrat 28 bold
            text-transform uppercase
        &:hover
            color $amarelo
            img
                box-shadow 0 2px 15px rgba(#000, .3)
                transform translateY(-5px)
    +tablet()
        margin 10px 0 40px
        a
            margin-top 40px
            span
                font-size 20px
    +mobile()
        margin 15px 0 35px
        a
            display block
            margin-top 30px
            width 100%
            padding 0 20px
            img
                margin-bottom 15px
            span
                font-size 18px

.sustentabilidade-home
    display block
    width 100%
    background $img('bg-sustentabilidade.jpg') no-repeat center
    background-size cover
    margin-bottom 90px
    .center
        position relative
        padding 110px 0 175px
    p
        margin 0
        ptsans 24 bold
        line-height 1.3
        color #fff
        max-width 550px
        padding-right 100px
        background $img('seta-sustentabilidade.png') no-repeat right 12px
    span
        montserrat 90 bold
        position absolute
        right 0
        bottom 0
        transform translateY(25%)
        color #fff
    +tablet()
        margin-bottom 60px
        .center
            padding 80px 0 140px
        p
            font-size 20px
        span
            font-size 70px
    +mobile()
        margin-bottom 40px
        .center
            padding 30px 0 70px
        p
            font-size 16px
            padding-right 60px
            background-size 20px auto
        span
            font-size 36px
