.quem-somos
    .texto
        padding 30px 0 10px
        ptsans 16
        text-align center
        p
            margin 0 auto
            max-width 620px
        +mobile()
            font-size 15px
            padding 10px 0 0
    .missao-visao-valores
        background #EFEFF0
        margin 30px 0
        padding 50px 0
        +tablet()
            padding 40px 0
        +mobile()
            margin 25px 0
            padding 35px 0 0
        .center
            clearfix()
            font-size 0
            text-align center
            div
                display inline-block
                width 23%
                vertical-align top
                margin 0 30px
                +tablet()
                    width 33.333%
                    margin 0
                    padding 0 25px
                +mobile()
                    width 100%
                    margin 0 0 35px
                .icone
                    width 70px
                    height 70px
                    margin 0 auto 20px
                    background-color #fff
                    background-position center
                    background-repeat no-repeat
                    border-radius 100%
                h3
                    ptsans 16 bold
                    margin 0 0 .5em
                    +mobile()
                        font-size 15px
                p
                    ptsans 16
                    text-align center
                    margin 0
                    +mobile()
                        font-size 15px
        .missao .icone
            background-image $img('icone-missao.png')
        .visao .icone
            background-image $img('icone-visao.png')
        .valores .icone
            background-image $img('icone-valores.png')
    .imagens
        clearfix()
        img
            width 25%
            display block
            float left
            border-bottom 1px solid #fff
            border-right 1px solid #fff
            +tablet()
                width 33.333%
            +mobile()
                width 50%
