.servicos
    nav
        display flex
        border 1px solid $amarelo
        +mobile()
            display block
        a
            flex 1
            text-align center
            montserrat 22 bold
            text-transform uppercase
            color $amarelo
            border-right 1px solid $amarelo
            transition background .3s
            padding 16px 10px
            +tablet()
                font-size 20px
            +mobile()
                display block
                font-size 16px
                border-right 0
                border-bottom 1px solid $amarelo
                padding 10px
            &.active
                background $amarelo !important
                color #fff
            &:hover
                background rgba($amarelo, .25)
            &:last-child
                border 0
    .servico
        margin-top 50px
        text-align center
        p
            ptsans 16
            max-width 500px
            margin 1em auto 0
        .imagens
            margin-top 50px
            font-size 0
            img
                display inline-block
                margin 0 5px 5px 0
                max-width 100%
        +tablet()
            .imagens
                img
                    max-height 400px
        +mobile()
            margin-top 30px
            p
                font-size 15px
            .imagens
                margin-top 30px
                img
                    max-height 250px
