.sustentabilidade
    .center
        clearfix()
    .cinza
        background #EFEFF0
        padding 60px 0
        margin 60px auto
        +tablet()
            padding 45px 0
            margin 45px auto
        +mobile()
            padding 30px 0
            margin 30px auto
        img
            float right
        .texto
            float left
    img
        width 42%
        float left
    .texto
        width 53%
        float right
        h3
            montserrat 22 bold
        p
            ptsans 16
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
    +mobile()
        img
        .texto
            float none !important
        img
            max-width 100%
            width auto
            margin-bottom 15px
        .texto
            width 100%
            h3
                font-size 18px
            p
                font-size 15px
